.navbar {
  background: #555555;
}

.jumbotron,
.alert {
  background: #cdc9c3;
}

.navbar-brand,
.about-h1 {
  font-family: "Times New Roman", Times, serif;
}

.navbar-img {
  margin-inline-end: 15px;
  border: 2px, solid, white;
}

.body-link {
  color: black;
  font-weight: bold;
}

.body-link:hover {
  color: black;
}

#task-buttons {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
}

#task-buttons :last-child {
  border-radius: 0 50px 50px 0;
  background-color: #cdc9c3;
}
.btn-group :first-child {
  border-radius: 50px 0 0 50px;
}

#add-task-btn {
  background: #d9e4dd;
}

.fa-plus-circle {
  background: #d9e4dd;
}

.tasks-container {
  padding-bottom: 50rem;
}
#task-btns-whitespace {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0rem;
  padding-top: 2rem;
  background-color: rgb(255, 255, 255);
  padding-bottom: 2rem;
  border-bottom: 1px solid #555555;
}

#task-name {
  max-width: 13rem;
}

.form-time {
  max-width: 40%;
}

.form-date {
  max-width: 60%;
}

#sisy-desc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.week {
  padding-left: 3rem;
  border-right: 1px solid #555555;
}

.repete-group {
  margin-bottom: 0;
}

.daysofmonth {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
