<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        class="navbar-img d-inline-block"
        src="../static/images/pixil-frame-0.png"
        width="35"
        height="35"
      />SISYPHUS</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      {% if not "user_id" in session %}
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/register"
            ><span class="glyphicon glyphicon-user"></span
            ><i class="fas fa-user-plus"></i> Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"
            ><i class="fas fa-sign-in-alt"> </i> Login</a
          >
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/logout"
            ><i class="fas fa-sign-out-alt"> </i> Logout</a
          >
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
