{% extends 'base.html' %} {% block body %} {% if 'user_id' not in session %}
<div class="jumbotron">
  <h1>WELCOME</h1>
  <p>
    To the website I started to assemble around the time the
    <a href="https://sl.wikipedia.org/wiki/Bri%C5%BEinski_spomeniki"
      >Freising manuscripts</a
    >
    were being written. The purpose of this website is to learn to hate HTML and
    to miss the Smartninja Coding Challenge by a couple of months (years?). To
    use the website you will have to either <a href="/login">login here,</a>or
    <a href="/register">register here. </a>Or click the pretty buttons I set up
    (MYSELF) in the upper right corner of the screen.
  </p>
</div>
<div class="alert">
  <strong>Please note </strong>this website is still under construction!
</div>
{% else %} {% endif %} {% endblock %}
