{% extends 'base.html' %} {% block body %} {% if 'user_id' not in session %}
<div class="jumbotron">
  <h1>You are a rando!</h1>
  <p>
    To use the website you will have to either
    <a class="body-link" href="/login">login</a>, or
    <a class="body-link" href="/register">register</a>. Or click the pretty
    buttons I set up (MYSELF) in the upper right corner of the screen.
  </p>
</div>
<div class="alert">
  <strong>Please note </strong>this website is still under construction!
</div>
{% else %} {% include '_tasknav.html' %}
<div class="tasks-container">
  <ul>
    <li>Task uno</li>
    <li>Task due</li>
    <li>Task tre</li>
    <li>Task quatro</li>
  </ul>
</div>
{% endif %} {% endblock %}
